<div id="forgot-password" v-cloak>
  <div class="container">
    <h3 class="text-center"><%= __("Password recovery") %></h3>
    <p class="text-center text-muted mt-3" v-if="!cloudSuccess">
      <%= __("To reset your account password, enter your email address below") %>
    </p>
    <div class="forgot-form" v-if="!cloudSuccess">
      <hr />
      <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError"
        @submitted="submittedForm" @rejected="onCloudError" :handle-parsing="handleParsingForm">
        <div class="md-form mt-5">
          <input type="text" maxlength="300" name="email-address" id="email-address" class="form-control"
            :class="[formErrors.emailAddress || formErrors.emailAddressLength ? 'is-invalid' : '']"
            v-model.trim="formData.emailAddress" autocomplete="email" />
          <label for="email-address"><%= __("Mail Address") %></label>
          <div class="invalid-feedback" v-if="formErrors.emailAddress">
            <%= __("Please enter a valid email address") %>
          </div>
          <div class="invalid-feedback" v-if="formErrors.emailAddressLength">
            <%= __("Please enter within {0} characters").format(300) %>
          </div>
        </div>
        <p class="text-danger" v-if="cloudError">
          <small>
            <%= __("An error occurred while processing the request. Please check the information and try again. If the error persists, please contact your administrator") %>
          </small>
        </p>

        <div class="row mt-3 align-items-center">
          <div class="col-auto">
            <img id="captcha" :src="image" width="250" />
          </div>
          <div class="col mt-3">
            <button type="button" class="btn btn-success btn-sm" @click="reloadCaptcha"><%= __("I can't read this character") %></button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="md-form">
                <label for="form-captcha-token"><%= __("Please enter the 5 letters in the picture above") %>
                </label>
                <input class="form-control" id="form-captcha-token" type="text" maxlength="5"
                :class="[formErrors.captchaToken ? 'is-invalid' : '']"
                v-model.trim="formData.captchaToken" />
                <div class="invalid-feedback" v-if="formErrors.captchaToken">
                  <%= __("Please enter the 5 letters in the picture above") %>
                </div>
            </div>
          </div>
        </div>  
        <honeypot :form-data="formData"></honeypot>
        <div class="md-form mt-5">
          <button type="submit" class="btn btn-elegant btn-block"><%= __("Send") %></button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/login"><%= __("Return to login") %></a></p>
    </div>
    <div class="success-message" v-if="cloudSuccess">
      <p><%= __("I have sent you a link to update your password") %></p>
      <hr />
      <p>
        <%= __("If you don't receive the email after a few minutes, check your junk email folder. If you still can't find it, try again or contact your administrator") %>
      </p>
      <p class="text-center"><a class="btn btn-elegant" href="/login"><%= __("Return to login") %></a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>