<div id="new-organization" v-cloak>
  <div class="container">
    <h3 class="text-center"><%= __("Account registration") %></h3>
    <div class="new-organization-form" v-if="!cloudSuccess">
      <hr />
      <ajax-form action="registOrganization" :syncing.sync="syncing" :cloud-error.sync="cloudError"
        @submitted="submittedForm" @rejected="onCloudError" :handle-parsing="handleParsingForm">
        <div class="md-form mt-5">
          <label for="handleId"><span class="badge badge-pill badge-danger mr-2"><%= __('required') %></span><%= __("Organization ID (alpha numeric)") %></label>
          <v-text-input class="form-control" id="handleId" name="handleId" type="text" :maxlength="10"
            :class="[formErrors.handleId || formErrors.handleIdLength || formErrors.handleIdFormat ? 'is-invalid' : '']"
            v-model.trim="formData.handleId" />
          <div class="invalid-feedback" v-if="formErrors.handleId">
            <%= __("Please enter your organization ID") %>
          </div>
          <div class="invalid-feedback" v-else-if="formErrors.handleIdLength">
            <%= __("Please enter within {0} characters").format(10) %>
          </div>
          <div class="invalid-feedback" v-else-if="formErrors.handleIdFormat">
            <%= __("Please enter the organization ID using only letters and numbers") %>
          </div>
        </div>
        <div class="md-form">
          <label for="name"><span class="badge badge-pill badge-danger mr-2"><%= __('required') %></span><%= __("Organization name") %></label>
          <v-text-input class="form-control" id="name" name="name" type="text" :maxlength="100"
            :class="[formErrors.name || formErrors.nameLength ? 'is-invalid' : '']" v-model.trim="formData.name" />
          <div class="invalid-feedback" v-if="formErrors.name">
            <%= __("Please enter the organization name") %>
          </div>
          <div class="invalid-feedback" v-if="formErrors.nameLength">
            <%= __("Please enter within {0} characters").format(100) %>
          </div>
        </div>
        <div class="md-form">
          <label for="fullName"><span class="badge badge-pill badge-danger mr-2"><%= __('required') %></span><%= __("Representative name") %></label>
          <v-text-input class="form-control" id="fullName" name="fullName" type="text" :maxlength="120"
            :class="[formErrors.fullName || formErrors.fullNameLength ? 'is-invalid' : '']"
            v-model.trim="formData.fullName" />
          <div class="invalid-feedback" v-if="formErrors.fullName">
            <%= __("Please enter the representative name") %>
          </div>
          <div class="invalid-feedback" v-if="formErrors.fullNameLength">
            <%= __("Please enter within {0} characters").format(120) %>
          </div>
        </div>
        <div class="md-form">
          <label for="emailAddress"><span class="badge badge-pill badge-danger mr-2"><%= __('required') %></span><%= __("Mail Address") %></label>
          <v-text-input class="form-control" id="emailAddress" name="emailAddress" type="text" :maxlength="300"
            :class="[formErrors.emailAddress || formErrors.emailAddressLength ? 'is-invalid' : '']"
            v-model.trim="formData.emailAddress" />
          <div class="invalid-feedback" v-if="formErrors.emailAddress">
            <%= __("Please enter a valid email address") %>
          </div>
          <div class="invalid-feedback" v-if="formErrors.emailAddressLength">
            <%= __("Please enter within {0} characters").format(300) %>
          </div>
        </div>

        <p class="text-danger" v-if="cloudError === 'handleIdAlreadyInUse'">
          <small><%= __("This organization ID is already in use. Please change the organization ID and try again") %></small>
        </p>
        <p class="text-danger" v-else-if="cloudError === 'emailAlreadyInUse'">
          <small><%= __("This email address is already in use by your account. If you have no idea, please contact the administrator") %></small>
        </p>
        <p class="text-danger" v-else-if="cloudError">
          <small>
            <%= __("An error occurred while processing the request. Please check the information and try again. If the error persists, please contact your administrator") %></small>
        </p>

        <div class="row mt-3">
          <div class="col-auto">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="form-policy-check" v-model="policyCecked" />
              <label class="custom-control-label custom-control-label-sm"
                for="form-policy-check"><span class="badge badge-pill badge-danger mr-2"><%= __('required') %></span><%= __("Agree to the user policy and create an account") %></label>
            </div>
            <div class="mt-2">
              <a class="ml-4"
                  href="/doc/policy" target="_blank"><%= __("User policy") %><i
                    class="fas fa-external-link-alt ml-1"></i></a>
            </div>
          </div>
        </div>

        <div class="row mt-3 align-items-center">
          <div class="col-auto">
            <img id="captcha" :src="image" width="250" />
          </div>
          <div class="col mt-3">
            <button type="button" class="btn btn-success btn-sm" @click="reloadCaptcha"><%= __("I can't read this character") %></button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="md-form">
                <label for="form-captcha-token"><span class="badge badge-pill badge-danger mr-2"><%= __('required') %></span><%= __("Please enter the 5 letters in the picture above") %>
                </label>
                <v-text-input class="form-control" id="form-captcha-token" type="text" :maxlength="5"
                :class="[formErrors.captchaToken ? 'is-invalid' : '']"
                v-model.trim="formData.captchaToken" />
                <div class="invalid-feedback" v-if="formErrors.captchaToken">
                  <%= __("Please enter the 5 letters in the picture above") %>
                </div>
            </div>
          </div>
        </div>  
        <honeypot :form-data="formData"></honeypot>
        <div class="form-group mt-5">
          <button type="submit" class="btn btn-elegant btn-block" :disabled="!policyCecked"><%= __("Create") %></button>
        </div>
      </ajax-form>
    </div>
    <% if (sails.config.custom.isDemosite) {%>
    <div class="row">
      <div class="col-3"></div>
      <div class="col">
        <div class="card text-white bg-success">
          <div class="card-body">
            <h5 class="card-title"><%= __("About the demo version") %></h5>
            <p class="card-text text-white">
              <%= __("This demo version will be available for a while, but there are no restrictions on the number of users, teams, etc. However, the basic data will not be persisted because the data will be deleted irregularly due to system repair") %>
            </p>
            <p class="card-subtitle text-white font-weight-bold"><%= __("Never use it in production!") %></p>
          </div>
        </div>
      </div>
      <div class="col-3"></div>
    </div>
    <% } %>
    <div class="success-message" v-if="cloudSuccess">
      <p><%= __("I have sent you a link to complete your account registration") %></p>
      <hr />
      <p>
        <%- __("If you don't receive the email after a few minutes, check your junk email folder. If you still cannot find it, please try again or contact us using the <a> contact form </a>").format(`${sails.config.custom.baseUrl}/contact`) %>
      </p>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>