<div class="step-area">
    <ul class="<%= clazz %>">
        <li class="step01">
            <p><span class="small"><%= __('STEP')%>1</span><span class="txt"><%= __('Enter information')%></span>
            </p>
        </li>
        <li class="step02">
            <p><span class="small"><%= __('STEP')%>2</span><span
                    class="txt"><%= __('Confirmation of input contents')%></span></p>
        </li>
        <li class="step03">
            <p><span class="small"><%= __('STEP')%>3</span><span class="txt"><%= __('Reception completed')%></span>
            </p>
        </li>
    </ul>
</div>