<div id="backoffice-notification-edit" v-cloak>
  <div class="container">
    <p class="h4 mb-4"><%= __("Edit system notification") %></p>

    <div id="cloud-error" class="row">
      <div class="col-sm-6">
        <p class="text-danger" v-if="cloudError">
          <%= __("An error occurred while processing the request. Please check the information and try again. If the error persists, please contact your administrator") %>
        </p>
      </div>
    </div>

    <ajax-form action="updateNotification" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm"
      @rejected="onCloudError" :handle-parsing="handleParsingForm">
      <%- partial ('form.ejs') %>
    
      <div class="row">
        <div class="col text-right">
          <a class="btn btn-light btn-sm" href="/admin/notification"><i
              class="fas fa-window-close"></i> <%= __("Cancel") %></a>
          <button type="submit" class="btn btn-primary btn-sm">
            <i class="far fa-save"></i> <%= __("Save") %>
          </button>
        </div>
      </div>

    </ajax-form>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
