<div id="edit-password" v-cloak>
  <div class="container">
    <h3>
      <%= __('Change Password') %>
    </h3>
    <hr />
    <div><small :class="scoreClass">{{crackScore}}</small></div>
    <ajax-form action="updatePassword" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm"
      @rejected="onCloudError" :handle-parsing="handleParsingForm">
      <div class="row">
        <div class="col-sm-6">
          <div class="md-form">
            <label for="password">
              <%= __('New password') %>
            </label>
            <v-text-input class="form-control" id="password" name="password" type="password" :maxlength="100"
              :class="[formErrors.password || formErrors.passwordLength ? 'is-invalid' : '']"
              v-model="formData.password"></v-text-input>
            <div class="invalid-feedback" v-if="formErrors.password">
              <%= __("Enter your password or select 'Cancel'") %>
            </div>
            <div class=" invalid-feedback" v-else-if="formErrors.passwordLength">
                <%= __("Please enter the password from 6 to 100 characters") %>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="md-form">
            <label for="confirm-password">
              <%= __("Confirmation password") %>
            </label>
            <v-text-input class="form-control" id="confirm-password" name="confirm-password" type="password" :maxlength="100"
              :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model="formData.confirmPassword"></v-text-input>
            <div class="invalid-feedback" v-if="formErrors.confirmPassword">
              <%= __("Passwords do not match") %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p class="text-danger" v-if="cloudError">
            <small>
              <%= __("An error occurred while processing the request. Please check the information and try again. If the error persists, please contact your administrator") %>
            </small>
          </p>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a class="btn btn-light btn-sm" href="/<%= organization.handleId %>/account"><i
                class="fas fa-window-close"></i>
              <%= __("Cancel") %>
            </a>
            <button type="submit" class="btn btn-primary btn-sm">
              <i class="far fa-save"></i>
              <%= __("Save") %>
            </button>
          </div>
        </div>
      </div>
    </ajax-form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
