<div id="milestone-view" v-cloak>
  <div class="container">
    <modal v-if="burndownDialog">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= __("Burndown chart") %>
        </h5>
        <button type="button" class="close" @click="burndownDialog = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div v-if="noResults">
          {{ getServerMessage }}
        </div>
        <div v-else>
          <div class="mt-1">
            <canvas id="burndown-chart"></canvas>
          </div>
          <div class="mt-5">
            <canvas id="resource-chart"></canvas>
          </div>
          <div class="row mt-5">
            <div class="col-sm-7">
              <div class="values-gauge">
                <vue-svg-gauge :start-angle="-110" :end-angle="110" :value="openClose.workingCloseElapsed / 1000 / 60 / 60" :min="0" :max="openClose.memberQty * openClose.days * openClose.workingHoursPerDay" gauge-color="#FFD675" :separator-step="0" :scale-interval="openClose.workingHoursPerDay"></vue-svg-gauge>
              </div>
              <div class="text-center text-muted">
                <span>
                  <%= __("Cumulative working time") %>
                  {{ floatFormatter.format(openClose.workingCloseElapsed / 1000 / 60 / 60) }}h
                </span>
              </div>
            </div>
            <div class="col-sm-5">
              <dl class="row">
                <dt class="col-sm-6 text-muted text-right"><small>
                    <%= __("Maximum resource") %>
                  </small></dt>
                <dd class="col-sm-6 text-right">
                  {{ floatFormatter.format(openClose.memberQty * openClose.days * openClose.workingHoursPerDay) }}h
                </dd>
                <dt class="col-sm-6 text-muted text-right"><small>
                    <%= __("Threads") %>
                  </small></dt>
                <dd class="col-sm-6 text-right">
                  {{ openClose.threadQty }}
                </dd>
                <dt class="col-sm-6 text-muted text-right"><small>
                    <%= __("Term") %>
                  </small></dt>
                <dd class="col-sm-6 text-right">
                  {{ openClose.days }}day
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button type="button" class="btn btn-light btn-sm" @click="burndownDialog = false">
            <i class="fas fa-window-close"></i>
            <%= __("close") %>
          </button>
        </div>
      </div>
    </modal>
    <div class="row mt-3">
      <div class="col">
        <span class="text-muted">
          <%= __('Team') %>
        </span><span class="h5 ml-3"><a :href="teamUrl">
            {{ team.name }}</a></span>
      </div>
    </div>
    <div class="mt-3" v-if="tasks.length > 0 && !isMobile">
      <gantt-elastic :options="options" :tasks="tasks" :dynamic-style="dynamicStyle">
        <gantt-header slot="header" :options="headerOptions" :dynamic-style="headrDynamicStyle"></gantt-header>
      </gantt-elastic>
    </div>
    <div class="mt-3" v-else-if="tasks.length > 0 && isMobile">
      <h4>
        <%= __('Milestones') %>
      </h4>
      <div class="row mb-3" v-for="item in tasks">
        <div class="col">
          <div class="row">
            <div class="col">
              <a :href="editLink(item.entity)" style="color:#0077c0;" :aria-label="i18n('Edit')" data-microtip-position="bottom" role="tooltip">
                {{ item.entity.name }}</a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= __('Start') %>:
              {{ startDate(item.entity) }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= __('End') %>:
              {{ endDate(item.entity) }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= __('Person in charge') %>: <a :href="memberLink(item.entity)" target="_blank" style="color:#0077c0;">
                {{ item.entity.user ? item.entity.user.fullName : '' }}</a>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" :style="progressStyle(item.entity)" :aria-valuenow="progressValue(item.entity)" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <div class="row">
            <div class="col-auto">
              <small>
                <%= __('Progress') %>:
                {{ progressValue(item.entity) }} %
              </small>
            </div>
            <div class="col"><small><a href="javascript:void(0)" @click="clickThreadsForMobile(item.entity)">
                  <%= __('Related thread') %>
                </a>
                <span class="ml-3">
                  {{ item.entity.closedQty }} /
                  {{ Number(item.entity.openQty) + Number(item.entity.closedQty) }}</span>
              </small>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <small>
                <a href="javascript:void(0)" @click="showBurndownDialog(item.entity)">
                  <%= __("Burndown chart") %>
                </a>
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="alert alert-primary" role="alert">
        <%= __('Milestones are groups of threads in a specific time period (phase)') %><br />
        <%= __('Create a milestone with the new button') %><br />
        <%= __('Creating milestones allows each thread to be associated with a milestone') %>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-right">
        <a class="btn btn-light btn-sm" :href="returnUrl"><i class="fas fa-window-close"></i>
          <%= __("Back") %>
        </a>
        <button type="button" class="btn btn-info btn-sm" @click="clickSort">
          <i class="fas fa-sort"></i>
          <%= __("Sort") %>
        </button>
        <button type="button" class="btn btn-info btn-sm" @click="clickNew">
          <i class="fas fa-plus-circle"></i>
          <%= __("Create New") %>
        </button>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
