<ajax-form action="<%- action %>" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm" @rejected="onCloudError"
  :handle-parsing="handleParsingForm">
  <div class="row border border-top-0 border-right-0 border-left-0">
    <div class="col">
      <span class="text-muted mr-3"><%= __("Team") %></span><a :href="teamLink">{{ team.name }}</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group text-right">
        <button type="button" class="btn btn-light btn-sm" @click="onEditCancelClick">
          <i class="fas fa-window-close"></i> <%= __("Cancel") %>
        </button>
        <button type="submit" class="btn btn-primary btn-sm">
          <% if(action === 'createWiki') { %>
          <i class="fas fa-plus-circle"></i>
          <%= __("Create") %>
          <% } else { %>
          <i class="fas fa-save"></i>
          <%= __("Save") %>
          <% } %>
        </button>
      </div>
      <div class="md-form">
        <input type="text" maxlength="200" id="wiki-subject" class="form-control" v-model.trim="formData.subject" autocomplete="wiki-subject"
          :class="[formErrors.subject || formErrors.subjectLength ? 'is-invalid' : '']" />
        <label for="wiki-subject"><%= __("Please enter the title of the Wiki") %></label>
        <div class="invalid-feedback" v-if="formErrors.subject"><%= __("Please enter a subject") %></div>
        <div class="invalid-feedback" v-if="formErrors.subjectLength"><%= __("Please enter within {0} characters").format(200) %></div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for="wiki-tags"><%= __("Tags") %><small class="text-muted ml-3"><%= __("You can tag up to {0}").format(10) %></small></label>
          <v-tagify-select id="wiki-tags" :values="selectedTags" :settings="tagifySettings" @change="onChangeTags"></v-tagify-select>        
        </div>
      </div>

      <div class="text-danger" v-if="formErrors.bodyLength">
        <%= __("Body size is too large") %>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div ref="wikiEditor" id="wiki-editor"></div>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col text-right">
          <button type="button" class="btn btn-light btn-sm" @click="onEditCancelClick">
            <i class="fas fa-window-close"></i> <%= __("Cancel") %>
          </button>
          <button type="submit" class="btn btn-primary btn-sm">
            <% if(action === 'createWiki') { %>
            <i class="fas fa-plus-circle"></i>
            <%= __("Create") %>
            <% } else { %>
            <i class="fas fa-save"></i>
            <%= __("Save") %>
            <% } %>
          </button>
        </div>
      </div>
    </div>
  </div>
</ajax-form>
<!-- appendix -->
<% if(action === 'updateWiki') { %>
<editor-file :appendix="appendix" :organization="organization" mode="update" :delete-appendix="deleteAppendix" :download-appendix="downloadAppendix" :whitelist="witeListOfExts"
  :add-image="addImageBlobHook" :is-uploading="isUploading" :planlimitation="planlimitation" title="wiki" :is-demosite="isDemosite" >
</editor-file>
<% } else { %>
<editor-file :appendix="appendix" :organization="organization" mode="create" :delete-appendix="deleteAppendix" :download-appendix="downloadAppendix" :whitelist="witeListOfExts"
  :add-image="addImageBlobHook" :is-uploading="isUploading" :planlimitation="planlimitation" title="wiki" :is-demosite="isDemosite" >
</editor-file>
<% } %>

<image-list ref="imagelist" :show="showImageListModal" :on-hide="hideImageListModal" v-on:selected="selectedImageList"></image-list>