<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px;"><%= __('Welcome {0}').format(fullName) %> ！</p>
<p style="margin-bottom: 25px;">
  <%= __('Your account has been registered with Lycaon') %>
  <%= __("If you don't remember this operation, please contact the administrator immediately") %>
  <%= __('If not, click the button below') %> :
</p>
<div style="margin-bottom: 25px; text-align: center;">
  <a style="
      background-color: #00acc4;
      display: inline-block;
      font-size: 1.1em;
      color: #fff;
      padding: 10px 35px 10px;
      font-weight: 500;
      text-decoration: none;
      border-radius: 7px;
    "
    href="<%= url.resolve(sails.config.custom.baseUrl,'/password/new-account')+'?token='+encodeURIComponent(token) %>"><%= __('Confirm password') %></a>
</div>
<p style="margin-bottom: 25px;">
  <%= __('If you have problems, try pasting this link into your browser') %> :
  <a style="color: #00acc4; word-wrap: break-word;"
    href="<%= url.resolve(sails.config.custom.baseUrl,'/password/new-account')+'?token='+encodeURIComponent(token) %>"><%=
    url.resolve(sails.config.custom.baseUrl,'/password/new-account')+'?token='+encodeURIComponent(token)
    %></a>
</p>
<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0px;">Team Lycaon</p>