<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>

  <h4>
    <%= __('Notification of message reception from {0}').format(user.fullName) %>
  </h4>

  <p style="margin-top: 0px;">
    <%= __('Posted date') %>：<%= postedAt %>
  </p>
  <hr />

  <p style="margin-bottom: 25px;">
    <a style="color: #00acc4;"
      href="<%= url.resolve(sails.config.custom.baseUrl, `/${organization.handleId}/member/${user.id}?tab=tab-message`) %>">
      <%= __('Please check from this link') %>
    </a>
  </p>

  <p style="margin-bottom: 5px;">Sincerely,</p>
  <p style="margin-top: 0px;">
    <%= fromName %>
  </p>
