<div id="admin-plan-unsubscribed" v-cloak>
  <div class="container">
    <h4 class="mt-5 mb-4">
      <%= __('Flow of unsubscribed procedure') %>
    </h4>
    <hr />
    <div id="cloud-error" class="row">
      <div class="col-sm-6">
        <p class="text-danger" v-if="cloudError === 'requestAlready'">
          <%= __("Request for unsubscribed is already being processed") %>
        </p>
        <p class="text-danger" v-else-if="cloudError">
          <%= __("An error occurred while processing the request. Please check the information and try again. If the error persists, please contact your administrator") %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          <%= __("Click the 'Request unsubscribed' button to request unsubscribed") %>
        </div>
        <div>
          <%= __("The actual unsubscribed confirmation will be at the beginning of the month following the unsubscribed request, so you can use this system even if you make a unsubscribed request during the current month") %>
        </div>
        <div class="text-danger">
          <%= __("The fee for the month of Unsubscribed will be the normal monthly fee. Please note that it is not prorated") %>
        </div>
        <div>
          <%= __("After the Unsubscribed is confirmed, the registered organization user will not be able to log in or access the content") %>
        </div>
        <div>
          <%= __("The created content will be deleted and we cannot take any responsibility for this") %>
        </div>
        <div>
          <%= __("If necessary, please take the responsibility of the customer to make a backup before the Unsubscribed is confirmed") %>
        </div>
      </div>
    </div>

    <ajax-form action="requestUnsubscribed" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm" @rejected="onCloudError" :handle-parsing="handleParsingForm">
      <div class="row mt-5">
        <div class="col text-center">
          <button type="submit" class="btn btn-deep-orange">
            <%= __('Request unsubscribed')%>
          </button>
        </div>
      </div>
    </ajax-form>

  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
