<div id="new-thread" v-cloak>
  <div class="container">
    <div id="cloud-error" class="row">
      <div class="col-sm-6">
        <p class="text-danger" v-if="cloudError">
          <%= __("An error occurred while processing the request. Please check the information and try again. If the error persists, please contact your administrator") %>
        </p>
      </div>
    </div>

    <ajax-form action="createThread" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm" @rejected="onCloudError"
      :handle-parsing="handleParsingForm">
      <div class="row border border-top-0 border-right-0 border-left-0">
        <div class="col">
          <span class="text-muted mr-3"><%= __("Team") %></span><a :href="teamLink">{{ team.name }}</a>
        </div>
      </div>
      <div class="row" v-if="isThreadFork">
        <div class="col">
          <span class="text-muted"><%= __("Fork source thread") %>: <a :href="forkLink(fork)" rel="noopener" target="_blank">[#{{ fork.no }}]
              {{ fork.subject }}</a></span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group text-right">
            <button type="button" class="btn btn-light btn-sm" @click="onEditCancelClick">
              <i class="fas fa-window-close"></i> <%= __("Cancel") %>
            </button>
            <button type="submit" class="btn btn-primary btn-sm">
              <i class="fas fa-plus-circle"></i> <%= __("Create") %>
            </button>
          </div>
          <div class="md-form">
            <input type="text" maxlength="120" id="thread-subject" class="form-control" v-model.trim="formData.subject" autocomplete="thread-subject"
              :class="[formErrors.subject ? 'is-invalid' : '']" />
            <label for="thread-subject"><%= __("Please enter the subject of the thread") %></label>
            <div class="invalid-feedback" v-if="formErrors.subject"><%= __("Please enter a subject") %></div>
          </div>
          <div class="row">
            <div class="col-auto mb-3">
              <label for="thread-category"><%= __("Category") %>
                <small class="ml-2"><a href="javascript:void(0)" @click="chooseTemplate" v-if="showTemplateSw"><%= __("Use template") %></a></small></label>
              <select class="browser-default custom-select" id="thread-category" v-model="selectedCategory" :class="[formErrors.category ? 'is-invalid' : '']">
                <option v-for="item in categories" v-bind:value="item.id">
                  {{ item.name }}
                </option>
                <div class="invalid-feedback" v-if="formErrors.category">
                  <%= __("Please select a category") %>
                </div>
              </select>
            </div>
            <div class="col-auto mb-3">
              <label for="thread-responsible"><%= __("Person in charge") %>
                <small class="ml-2"><a href="javascript:void(0)" @click="chooseMe"><%= __("Choose yourself") %></a></small></label>
              <select class="browser-default custom-select" id="thread-responsible" v-model="responsible">
                <option value=""><%= __("Not set") %></option>
                <option v-for="item in comboMembers" v-bind:value="item.id">
                  {{ item.fullName }}
                </option>
              </select>
            </div>
            <div class="col-auto mb-3">
              <label for="thread-concept"><%= __("Concept") %></label>
              <select class="browser-default custom-select" id="thread-concept" v-model="formData.concept" :class="[formErrors.concept ? 'is-invalid' : '']"
                :disabled="local">
                <option value="0"><%= __("draft") %></option>
                <option value="1"><%= __("published") %></option>
              </select>
              <div class="invalid-feedback" v-if="formErrors.concept"><%= __("Please select a concept") %></div>
            </div>
            <div class="col-auto mb-3" v-if="milestone.length > 0">
              <label for="thread-milestone"><%= __("Milestone") %></label>
              <select class="browser-default custom-select" id="thread-milestone" v-model="selectedMilestone">
                <option value=""><%= __("Not set") %></option>
                <option v-for="item in milestone" v-bind:value="item.id">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-auto">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="form-check-input" id="thread-local" v-model="local" />
                <label class="form-check-label" for="thread-local"><%= __("Private thread") %> </label>
              </div>
            </div>
            <div class="col">
              <span class="ml-3" style="color: rgb(137, 173, 209)" :aria-label="i18n('Check if you want to create your own thread that is invisible to others')" data-microtip-position="bottom" data-microtip-size="medium" role="tooltip">
                <i class="far fa-question-circle"></i>
              </span>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <label for="thread-tags"><%= __("Tags") %><small class="text-muted ml-3"><%= __("You can tag up to {0}").format(10) %></small></label>
              <v-tagify-select id="thread-tags" :values="selectedTags" :settings="tagifySettings" @change="onChangeTags"></v-tagify-select>        
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div id="thread-editor"></div>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col text-right">
              <button type="button" class="btn btn-light btn-sm" @click="onEditCancelClick">
                <i class="fas fa-window-close"></i> <%= __("Cancel") %>
              </button>
              <button type="submit" class="btn btn-primary btn-sm">
                <i class="fas fa-plus-circle"></i> <%= __("Create") %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ajax-form>
    <!-- appendix -->
    <editor-file :appendix="appendix" :organization="organization" mode="create" :delete-appendix="deleteAppendix" :download-appendix="downloadAppendix" :whitelist="witeListOfExts"
      :add-image="addImageBlobHook" :is-uploading="false" :planlimitation="planlimitation" title="thread" :is-demosite="isDemosite"
      :hidden-upload="false">
    </editor-file>

  </div>

  <image-list ref="imagelist" :show="showImageListModal" :on-hide="hideImageListModal" v-on:selected="selectedImageList"></image-list>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>