<div class="row">
  <div class="col" id="wrapper-accordion">
    <div class="card mt-2">
      <div class="card-header" id="heading-query">
        <small class="mb-0">
          <button class="btn btn-link btn-sm text-primary" type="button" data-toggle="collapse"
            data-target="#collapse-query" aria-expanded="false" aria-controls="collapse-query">
            <%= __('Narrow down the threads to display') %>
          </button>
          <span class="text-danger" v-if="filtered"><%= __('Narrowing filter is running') %></span>
        </small>
      </div>
      <div id="collapse-query" class="collapse" aria-labelledby="heading-query" data-parent="#wrapper-accordion">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mb-1">
              <small><label for="query-status"><%= __('Status') %></label></small>
              <select class="browser-default custom-select custom-select-sm" id="query-status" v-model="query.status">
                <option value=""><%= __('All') %></option>
                <option value="0"><%= __('open') %></option>
                <option value="1"><%= __('close') %></option>
              </select>
            </div>
            <div class="col-auto mb-1">
              <small><label for="query-category"><%= __('Category') %></label></small>
              <select class="browser-default custom-select custom-select-sm" id="query-category"
                v-model="query.category">
                <option value=""><%= __('All') %></option>
                <option v-for="item in categories" v-bind:value="item.id">
                  {{ item.name }}
                </option>
              </select>
            </div>
            <div class="col-auto mb-1">
              <small><label for="query-responsible"><%= __('Person in charge') %><small class="ml-2"><a
                      href="javascript:void(0)"
                      @click="chooseMe(0)"><%= __('Choose yourself') %></a></small></label></small>
              <select class="browser-default custom-select custom-select-sm" id="query-responsible"
                v-model="query.responsible">
                <option value=""><%= __('All') %></option>
                <option v-for="item in comboMembers" v-bind:value="item.id">
                  {{ item.fullName }}
                </option>
              </select>
            </div>
            <div class="col-auto mb-1">
              <small><label for="query-concept"><%= __('Concept') %></label></small>
              <select class="browser-default custom-select custom-select-sm" id="query-concept" v-model="query.concept">
                <option value=""><%= __('All') %></option>
                <option value="0"><%= __('draft') %></option>
                <option value="1"><%= __('published') %></option>
              </select>
            </div>
            <div class="col-auto mb-1">
              <small><label for="query-owner"><%= __('Author') %><small class="ml-2"><a href="javascript:void(0)"
                      @click="chooseMe(1)"><%= __('Choose yourself') %></a></small></label></small>
              <select class="browser-default custom-select custom-select-sm" id="query-owner" v-model="query.owner">
                <option value=""><%= __('All') %></option>
                <option v-for="item in comboMembers" v-bind:value="item.id">
                  {{ item.fullName }}
                </option>
              </select>
            </div>
            <div class="col-auto mb-1">
              <small><label for="query-priority"><%= __('Importance') %></label></small>
              <select class="browser-default custom-select custom-select-sm" id="query-priority"
                v-model="query.priority">
                <option value=""><%= __('All') %></option>
                <option value="0"><%= __('Low') %></option>
                <option value="1"><%= __('Normally') %></option>
                <option value="2"><%= __('High') %></option>
              </select>
            </div>
            <div class="col-auto mb-1">
              <small><label for="query-locked"><%= __('Archive') %></label></small>
              <select class="browser-default custom-select custom-select-sm" id="query-locked" v-model="query.locked">
                <option value=""><%= __('All') %></option>
                <option value="0"><%= __('Excluding archives') %></option>
                <option value="1"><%= __('Archive only') %></option>
              </select>
            </div>
            <div class="col-auto mb-1" v-if="milestone.length > 0">
              <small><label for="query-milestone"><%= __('Milestone') %></label></small>
              <select class="browser-default custom-select custom-select-sm" id="query-milestone"
                v-model="query.milestone">
                <option value=""><%= __('All') %></option>
                <option v-for="item in milestone" v-bind:value="item.id">
                  {{ item.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-auto">
              <div class="row">
                <div class="col-auto">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="query-flag" v-model="query.flag" />
                    <label class="custom-control-label" for="query-flag"><small><%= __('With flag') %></small></label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-auto">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="query-working" v-model="query.working" />
                    <label class="custom-control-label" for="query-working"><small><%= __('Working') %></small></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="row">
                <div class="col-auto">
                  <small><label for="query-tags"><%= __('Tags') %></label></small>
                </div>
                <div class="col">
                  <v-tagify ref="tagify" id="query-tags" :settings="tagifySettings" @add="onAddTagify"
                    @remove="onRemoveTagify"></v-tagify>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-1"></div>

          <div class="row mt-2">
            <div class="col">
              <div class="row">
                <div class="col">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="query-local" v-model="query.local" />
                    <label class="custom-control-label"
                      for="query-local"><small><%= __('Show only private threads') %></small></label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="query-sustain" v-model="query.sustain" />
                    <label class="custom-control-label"
                      for="query-sustain"><small><%= __('Keep this filter condition for a while') %></small></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col text-right">
              <button type="button" class="btn btn-light btn-sm" @click="clickClear">
                <%= __('Filter clear') %>
              </button>
              <button type="button" @click="clickSubmit" class="btn btn-info btn-sm">
                <%= __('Extract') %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>